<h2>Início do Componente Pai</h2>
<span>{{ title }} App is Up and Running!</span>
<hr>

<h2>Inclusão: Inline Component</h2>
<inline-component></inline-component>
<hr>

<h2>Inclusão: Intermediate Component</h2>
<intermediate></intermediate>
<hr>

<h2>Inclusão Direta do Component AppCursos</h2>
<app-cursos></app-cursos>
<hr>

<h4> Descomente este código para ver um exemplo de componente não visível. Para usá-lo, inclua-o no array exports do cursosComponent.</h4>
<!--<app-curso-detalhe></app-curso-detalhe>-->
<hr>


<h3> Este é um projeto de testes para praticar os conceitos apresentados no curso de Angular da Loiane Groner</h3>
